.main{
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header{
    background-color:#004f5d;
    padding:40px
}
.logo{
    height:60px;
    position:absolute;
    left:0px;
    top:0px;
    padding-left:15px;
    padding-top:10px;
}

.create-acc-text{
    color:#004f5d;
    font-size: 40px;
    font-weight:bold;
    font-family: all-round-gothic;
    margin:20px 0px;
}

.form-div{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 60px 30px 60px;
}
input{
    width:30em;
    height:3em;
    margin:10px;
    border-radius: 30px;
    border: solid 1px gray;
    margin-bottom:10px;
}

.button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-button{
    height:3em;
    width:8em;
    background-color:#ED8A81;
    /* background-color: #7FCCE8; */
    color: white;
    font-size: 15px;
    margin-top:30px;
    font-family: "Open Sans";
    font-weight: bold;
    border-radius: 50px;
    border:none;
}

.create-acc-info{
    font-family: "Open Sans"
}