/* INDIVIDUAL TERMS */
#term-1:checked + .term-content:after {
    content:"An annual report is a report prepared by a company that is intended to impress shareholders. It contains tons of information about the company, from its cash flow to its management strategy. When you read an annual report, you are judging the companys solvency and financial situation.";
}
#term-2:checked + .term-content:after {
    content:"Arbitrage refers to buying and selling the same security on different markets and at different price points. For instance, if stock XYZ is trading at $10 on one market and $10.50 on another, the trader could buy X shares for $10 and sell them for $10.50 on the other market, pocketing the difference.";
}
#term-3:checked + .term-content:after {
    content:"When an investor buys more of a stock as the price goes down. This makes it so your average purchase price decreases. You might use this strategy if you believe that the general consensus about a company is wrong, so you expect the stock price to rebound later.";
}
#term-4:checked + .term-content:after {
    content:"Trading talk for the stock market being in a downward trend, or a period of falling stock prices. This is the opposite of a bull market. If a stock price plummets, it's very bearish.";
}
#term-5:checked + .term-content:after {
    content:"A measurement of the relationship between the price of a stock and the movement of the whole market. If stock XYZ has a beta of 1.5, that means that for every 1 point move in the market, stock XYZ moves 1.5 points, and vice versa.";
}
#term-6:checked + .term-content:after {
    content:"The stocks behind large, industry-leading companies. They offer a stable record of significant dividend payments and have a reputation of sound fiscal management. The expression is thought to have been derived from blue gambling chips, which is the highest denomination of chips used in casinos.";
}